<link type="text/css" rel="stylesheet" href="/bootstrap/css/generalStyles.css" />
<style>
    .chat-bubble
    {
        padding: 10px 14px;
        background: var(--chat-bubble-color);
        margin: 10px 30px;
        width: fit-content;
        max-width: 550px;
        border-radius: 9px;
        position: relative;
        word-break: break-all;
    }

    .bubble-message
    {
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
</style>


<div class="row no-gutters">
    <div class="col">
        <div class="chat-bubble chat-bubble">
            I am a message
        </div>
    </div>
</div>