<link type="text/css" rel="stylesheet" href="/bootstrap/css/generalStyles.css" />
<style>
    .contact
    {
        height: 60px;
        padding: 5px 5px;
        display: flex;
        vertical-align: baseline;
        background: #fff;
        transition: .3s ease;
        border-radius: 5px;
    }

    .time
    {
        color: black !important;

    }

    h6
    {
        margin-top: 6px;
        margin-bottom: 0;
    }

    p
    {
        margin: 0;
    }

    .contact:hover
    {
        background: var(--blue-color);
        cursor: pointer;
    }
</style>


<div class="contact" >
    <img class="avatar-image" src="/avatars/defaultAvatar.png" style="margin-right: 7px" >
    <div class="text">
        <h6>Robo Cop</h6>
        <p class="text-muted">asdasdasdasdasdasdasdasd</p>
        <p class="text-muted" style="visibility: hidden">aaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div align="center">
        <span class="time small float-end">13:21</span>
        <i class="bi bi-envelope-fill" style="color: var(--chat-bubble-color)" ></i>
    </div>
</div>
<hr>