{{>search placeholderText='Search for contact' searchClickCallback='contactSearch()'}}
<hr>
<div id="current_contacts">
    {{>contact}}
    {{>contact}}
    {{>contact}}
    {{>contact}}
    {{>contact}}
    {{>contact}}
    {{>contact}}
</div>

<script src='/htmlHelpers/requestHelper.js'></script>
<script src='/htmlHelpers/regex.js'></script>
<script>
    function contactSearch()
    {

    }

    function refreshContacts()
    {

    }
</script>