<div class="input-group mb-3" style="margin-top: 10px;width: 303px;">
    <input type="text" class="form-control" placeholder="{{placeholderText}}" >
    <button class="btn btn-secondary" type="button" onclick="{{searchClickCallback}}" > <i class="bi bi-search" style="font-size: 15px";></i> </button>
</div>