<link type="text/css" rel="stylesheet" href="/bootstrap/css/generalStyles.css" />
<hr>

<div align="center" style="width: 303px;">
    <h1>Settings</h1>
    <div style="height: 363px">

    </div>
    <div class="input-group mb-3" style="margin-left: 120px; width: 180px; height: 20px">
        <label  class="form-control" style="font-size: 23px" >Log out</label>
        <button class="btn btn-secondary" type="button" onclick="window.location.replace('/login/logout');" >
            <i class="bi bi-box-arrow-right" style="font-size: 23px; color: var(--blue-color)"></i>
        </button>
    </div>
</div>
