<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/images/Katran.ico">
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css"  media="screen,projection"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

{{{body}}}

<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>
<html>