<link type="text/css" rel="stylesheet" href="/bootstrap/css/generalStyles.css" />
<style>

    .container
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 985px;
        height: 937px;
        margin-left: 25%;
        background: rgba(188, 188, 188, 0.3);
        box-shadow: 0 0 10px rgb(138, 138, 138);
        padding: 0;
    }

    .settings-tray
    {
        width: 303px;
        background: var(--grey-color);
        padding: 10px 15px;
        border-radius: 0px 0px 7px 7px;
    }

    i
    {
        vertical-align: center;
        margin: 5px;
        font-size: 25px;
        color: var(--dark-grey-color);
        transition: 0.3s;
    }

    .hover_i
    {
        vertical-align: center;
        margin: 5px;
        font-size: 25px;
        color: var(--dark-grey-color);
        transition: 0.3s;
    }

    hover_i:hover
    {
        color: var(--blue-color);
        cursor: pointer;
    }
    i:hover
    {
        /*color: var(--blue-color);*/
        cursor: pointer;
    }

    .chat-panel
    {
        height: 830px;
        overflow-y: visible;
        overflow-x: hidden;
    }

</style>
<script src='/htmlHelpers/requestHelper.js'></script>
<script src='/htmlHelpers/regex.js'></script>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 border-end border-dark" style="height: 937px; margin-left: 12px">
            <div class="settings-tray">
                <img src="{{profileAvatar}}" class="avatar-image">
                <span class="settings-tray--right float-end">
                    <i class="bi bi-people-fill" id="i_contactsTabDiv" onclick="refreshContactsTab()"></i>
                    <i class="bi bi-chat-right-text-fill" id="i_createConvTabDiv" onclick="refreshCreateConvTab()"></i>
                    <i class="bi bi-tools" id="i_settingsTabDiv" onclick="refreshSettingsTab()"></i>
                    {{#if admin}}
                    <i class="bi bi-layers" onclick="window.location.replace('/accessManagement')"></i>
                    {{/if}}
                </span>
            </div>
            <div id="contactsTabDiv" style="display: none">
                {{>contactsTab}}
            </div>
            <div id="createConvTabDiv" style="display: none">
                {{>createConvTab}}
            </div>
            <div id="settingsTabDiv" style="display: none">
                {{>settingsTab}}
            </div>
            <script src='/htmlHelpers/tabsController.js'></script>
            <script defer>
                function refreshContactsTab()
                {
                    changeTab('contactsTabDiv');
                    refreshContactsAndConvs();
                }

                function refreshCreateConvTab()
                {
                    changeTab('createConvTabDiv');
                    refreshConvTab();
                }

                function refreshSettingsTab()
                {
                    changeTab('settingsTabDiv');
                    //refreshContacts();
                }

                refreshContactsTab()

                function enterMessageTrigger(key)
                {
                    if (key == 'Enter')
                    {
                        document.getElementById("sendMessage_btn").click();
                    }
                }

            </script>


        </div>
        <div class="col-md-8" style="position: absolute; left: 34%">
            {{>chatPanel}}
            <hr>
            <div  style="display: flex; background: var(--grey-color); border-radius: 7px 7px 0px 0px; height: 100px; margin-right: 12px">
                <i class="bi bi-paperclip hover_i" id="i_contactsTabDiv" style="color: var(--blue-color); margin-top: 17px; margin-left: 12px; margin-right: 0px; font-size: 40px" onclick=""></i>
                <div class="form-floating" style="width: 650px; margin: 5px">
                    <textarea type="text" class="form-control" placeholder=" " onkeypress="return enterMessageTrigger(event.key)" id="userMessage" style="height: 80px;overflow-y: visible; resize: none;"></textarea>
                    <label >Your message:</label>
                </div>
                <i class="bi bi-telegram hover_i" id="sendMessage_btn" style="color: var(--blue-color); margin-top: 17px; margin-left: 0px; font-size: 40px" onclick="sendMessage()"></i>
            </div>


        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src='/htmlHelpers/clientSocket.js'></script>
