<link type="text/css" rel="stylesheet" href="/bootstrap/css/generalStyles.css" />
<style>

    .container
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 50px;
        margin-right: 50px;
        background: transparent;
        padding: 0;
        border-radius: 7px;
    }

    .settings-tray
    {
        width: 303px;
        background: var(--grey-color);
        padding: 10px 15px;
        border-radius: 0px 0px 7px 7px;
    }

    i
    {
        vertical-align: center;
        margin: 5px;
        font-size: 25px;
        color: var(--dark-grey-color);
        transition: 0.3s;
    }

    .hover_i
    {
        vertical-align: center;
        margin: 5px;
        font-size: 25px;
        color: var(--dark-grey-color);
        transition: 0.3s;
    }

    hover_i:hover
    {
        color: var(--blue-color);
        cursor: pointer;
    }
    i:hover
    {
        /*color: var(--blue-color);*/
        cursor: pointer;
    }

    .chat-panel
    {
        height: 465px;
        overflow-y: visible;
        overflow-x: hidden;
    }

</style>
<script src='/htmlHelpers/requestHelper.js'></script>
<script src='/htmlHelpers/regex.js'></script>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4 border-end border-dark" style="height: 535px; ">
            <div class="settings-tray">
                <img src="{{profileAvatar}}" class="avatar-image">
                <span class="settings-tray--right float-end">
                        <i class="bi bi-people-fill" id="i_contactsTabDiv" onclick="refreshContactsTab()"></i>
                        <i class="bi bi-chat-right-text-fill" id="i_createConvTabDiv" onclick="refreshCreateConvTab()"></i>
                        <i class="bi bi-tools" id="i_settingsTabDiv" onclick="refreshSettingsTab()"></i>
                        {{#if admin}}
                        <i class="bi bi-layers" onclick="window.location.replace('/accessManagement')"></i>
                        {{/if}}
                </span>
            </div>
            <div id="contactsTabDiv" style="display: none">
                {{>contactsTab}}
            </div>
            <div id="createConvTabDiv" style="display: none">
                {{>createConvTab}}
            </div>
            <div id="settingsTabDiv" style="display: none">
                {{>settingsTab}}
            </div>
            <script src='/htmlHelpers/tabsController.js'></script>
            <script defer>
                function refreshContactsTab()
                {
                    changeTab('contactsTabDiv');
                    refreshContacts();
                }

                function refreshCreateConvTab()
                {
                    changeTab('createConvTabDiv');
                    //refreshContacts();
                }

                function refreshSettingsTab()
                {
                    changeTab('settingsTabDiv');
                    //refreshContacts();
                }

                refreshContactsTab()
            </script>


        </div>
        <div class="col-md-8">
            {{>chatPanel}}
            <hr>
            <div  style="display: flex; background: var(--grey-color); border-radius: 7px 7px 0px 0px; height: 100px">
                <i class="bi bi-paperclip hover_i" id="i_contactsTabDiv" style="color: var(--blue-color)" onclick=""></i>
                <div class="form-floating" style="width: 650px; margin: 5px">
                    <input type="text" class="form-control" placeholder=" " id="userMessage" style="height: 50px"></input>
                    <label >Your message:</label>
                </div>
                <i class="bi bi-telegram hover_i" id="i_contactsTabDiv" style="color: var(--blue-color)" onclick=""></i>
            </div>


        </div>
    </div>
</div>