<!-- Modal -->
{{#if permissionDenied}}
    <button type="button" id="permissionDenied_modalTrigger" data-bs-toggle="modal" data-bs-target="#permissionDenied_modal" style="visibility: collapse"></button>
    <div class="modal fade" id="permissionDenied_modal" tabindex="-1" aria-labelledby="permissionDenied_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"> <h5 class="modal-title" id="permissionDenied_modalLabel">Ooops!</h5> </div>
                <div class="modal-body">{{permissionDenied}}</div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(()=>
        {
            document.getElementById('permissionDenied_modalTrigger').click();
        }, 10);
    </script>
{{/if}}

<script>
    setTimeout(()=>
    {
        window.location.replace('/');
    }, 3000);
</script>