<link type="text/css" rel="stylesheet" href="/bootstrap/css/generalStyles.css" />
<style>

    .container-sm
    {
        margin-top: 20px;
        width: 700px;
        height: 370px;
        background: #eaeaea;
        padding: 10px;
        border-radius: 7px;
        box-shadow: 0 0 10px var(--blue-color);
    }

    .btn
    {
        box-shadow: 0 0 10px var(--blue-color);
    }

</style>

<div class="container-sm">
    <div class="row">
        <div align="center"> <img src="/images/Katran.png" width="100px" style="margin-bottom: 10px" height="100px"/> </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="login" placeholder=" " required>
                <label>Login</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="username" placeholder=" " required>
                <label>Username</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="password" placeholder=" ">
                <label>Password</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="repeatedPassword" placeholder=" ">
                <label>Confirm your password</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <form action="/upload" method="post" name="user_avatar" enctype="multipart/form-data" style="height: 80px">
                <label class="form-label">Choose your avatar or leave it as default</label>
                <input class="form-control" name="fileData" type="file" id="avatar" accept="image/jpeg,image/png,image/gif" >
                <input type="submit" style="visibility: collapse" id="avatarSubmit"/>
            </form>

            <div align="center">
                <label id="errorLabel" style="visibility: hidden; color: red;" >Error message</label>

                <div class="d-grid gap-2" style="margin-top: 40px">
                    <button class="btn btn-primary" id="reg_button" type="button" onclick="sendReg()">Sign Up</button>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" align="right">
            <button type="button" onclick="location.href = '/login';" class="btn btn-primary btn-sm">I already have account</button>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="modalTrigger" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="visibility: collapse"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"> <h5 class="modal-title" id="exampleModalLabel">Welcome!</h5> </div>
            <div class="modal-body"> You have successfully registered</div>
            <div class="modal-body"> Messenger will open through a few seconds :)</div>
        </div>
    </div>
</div>

<script src='/htmlHelpers/requestHelper.js'></script>
<script src='/htmlHelpers/regex.js'></script>
<script>
    function sendReg()
    {
        const reqBody =
        {
            login: document.getElementById('login').value,
            username: document.getElementById('username').value,
            password: document.getElementById('password').value,
            repeatedPassword: document.getElementById('repeatedPassword').value
        }

        if(!login_reg.test(reqBody.login))
        {
            showError(true, bad_login_reg_message);
            return;
        }

        if(!username_reg.test(reqBody.username))
        {
            showError(true, bad_username_reg_message);
            return;
        }

        if(!password_reg.test(reqBody.password))
        {
            showError(true, bad_password_reg_message);
            return;
        }

        if(!(reqBody.password == reqBody.repeatedPassword))
        {
            showError(true, 'Passwords are not equal');
            return;
        }

        showError(false);

        sendRequest('POST', '/registration', JSON.stringify(reqBody),
            (res_json) =>
            {
                document.getElementById('avatarSubmit').click();
                document.getElementById('modalTrigger').click();
                setTimeout(()=>{ location.href = '/'; }, 3000);
            }, (res_json) =>
            {
                showError(true, res_json.message);
            });
    }

    function showError(bEnable, text = null)
    {
        const errorLabel = document.getElementById('errorLabel');
        errorLabel.style.visibility = bEnable ? 'visible' : 'hidden';

        if(text != null)
        {
            errorLabel.innerHTML = text;
        }
    }
</script>